<header>
  <h1><a href="/">StyleStats</a></h1>
  <h2>An evaluating tool for writing better CSS</h2>
  <a href="/search" title="Go to Search page" class="search">
    <svg><use xlink:href="#search"></use></svg><span>Search</span></a>
</header>

<main>
  <div id="js-operation" class="container l-input">
    <div class="c-inputBox">
      <div class="c-card">
        <input id="js-uri" type="url" placeholder="Enter the URI of a document (HTML with CSS or CSS only)" class="c-input"/>
        <div id="js-progress" class="progress">
          <div class="line"></div>
        </div>
      </div>
      <button type="button" title="Start Test" class="c-button ripple" id="js-parse">
        <span class="inner">
          <svg fill="#fff" width="30" height="30" viewbox="0 0 48 48">
            <path d="M38 26h-12v12h-4v-12h-12v-4h12v-12h4v12h12v4z"></path>
            <path d="M0 0h48v48h-48z" fill="none"></path>
          </svg>
        </span>
      </button>
    </div>
  </div>
  <div class="container">

    <div id="js-resultView">
      {{#if data}}
        {{> list }}
      {{/if}}
    </div>

    {{#if id}}
      <p class="c-download">
        <a href="/results/{{ id }}.json" download="{{ id }}.json">
          <svg><use xlink:href="#cloud"></use></svg>Download raw JSON data</a>
        <span class="u-nw">The test ID is <code>{{ id }}</code>.</span>
      </p>

    {{/if}}


    {{#if results}}
    <section class="c-tests">
      <h2>Latest Test Results</h2>
      <ul>
        {{#each results}}
        <li><a href="/results/{{ id }}">
          <p class="u-tov"><img src="{{ icon }}" width="16" height="16" alt class="js-favicon">{{ uri }}</p>
          <p class="detail u-tov">Size: {{ size }}, Rules: {{ rules }}, Selectors: {{ selectors }}, {{ time }}</p>
        </a></li>
        {{/each}}
      </ul>
    </section>
    {{/if}}

    <section class="c-example u-cf">
      <h2>View Test Results for Popular Sites</h2>
      <ul>
        <li><a href="/results/LFW2PAhJtu">Google.com</a></li>
        <li><a href="/results/NKLTA1cQoE">Twitter.com</a></li>
        <li><a href="/results/ZQV3FayZrT">Facebook.com</a></li>
        <li><a href="/results/Vz2DRgUCKI">Tumblr.com</a></li>
        <li><a href="/results/dcJe6mYwdh">Apple.com</a></li>
        <li><a href="/results/cCwLstUUVb">GitHub.com</a></li>
      </ul>
    </section>

    <section class="c-example u-cf">
      <h2>View Test Result Comparisons</h2>
      <ul>
        <li><a href="/compare?id1=WHGHqunurS&id2=x5HaDGTrMt">Foundation.css x Bootstrap.css</a></li>
        <li><a href="/compare?id1=7ZbNfoQMV1&id2=KH62Io6BFn">Meyer-reset.css x Normalize.css</a></li>
        <li><a href="/compare?id1=URpMfBnc9M&id2=plWM0Tblk5">Google x Bing</a></li>
        <li><a href="/compare?id1=aG1xRvKNEs&id2=SPXAVn6J0c">Apple x Microsoft</a></li>
        <li><a href="/compare?id1=BCEyZswlmM&id2=MzwnrdWO1Z">Google+ x Facebook</a></li>
      </ul>
    </section>
  </div>
</main>

<script type="application/json" id="js-props-data">{{{ properties }}}</script>